# Переменные Traefik
TRAEFIK_IMAGE_TAG=traefik:3.2
# Уровень логирования (DEBUG, INFO, WARN, ERROR)
TRAEFIK_LOG_LEVEL=WARN
# Email для уведомлений Let's Encrypt о продлении сертификатов
TRAEFIK_ACME_EMAIL=admin@example.com
# Имя хоста для доступа к панели Traefik и настройки правил для домена
TRAEFIK_HOSTNAME=traefik.wiki.domain.com
# Базовая аутентификация панели Traefik
# Логин: traefikadmin
# Пароли должны быть в формате MD5, SHA1 или BCrypt https://www.web2generators.com/apache-tools/htpasswd-generator
TRAEFIK_BASIC_AUTH=traefikadmin:$$2y$$10$$sMzJfirKC75x/hVpiINeZOiSm.Jkity9cn4KwNkRvO7hSQVFc5FLO

# Переменные XWiki
XWIKI_POSTGRES_IMAGE_TAG=postgres:15
XWIKI_IMAGE_TAG=xwiki:15.7.0-postgres-tomcat
XWIKI_DB_NAME=xwiki
XWIKI_DB_USER=xwikidbuser
XWIKI_DB_PASSWORD=password1234
XWIKI_HOSTNAME=wiki.domain.com

# Переменные резервного копирования
BACKUP_INIT_SLEEP=30m
BACKUP_INTERVAL=24h
POSTGRES_BACKUP_PRUNE_DAYS=7
DATA_BACKUP_PRUNE_DAYS=7
POSTGRES_BACKUPS_PATH=/srv/xwiki-postgres/backups
DATA_BACKUPS_PATH=/srv/xwiki-application-data/backups
DATA_PATH=/usr/local/xwiki
POSTGRES_BACKUP_NAME=xwiki-postgres-backup
DATA_BACKUP_NAME=xwiki-application-data-backup